/*  */
:root{
    --whitebg-color: #f5f5f7;
    --white-color: rgb(254, 254, 254, 0.975);
    --black-color: #1d1d1f;
    --boedoo-color: #6bccb1;
    --boedoo1-color: #91d9c5;
    --grey-color: #333;
    --navbar-hover-focus-color: #d9d9d9;
    --close-hover-color:rgb(182, 2, 2);
    --body-color:#f3f9f4;
    --yellow-color: #fec006;
    --sideprofile-color: #cccccc94;
  }
  